Attack Data Mapping

In [10]:
import pandas as pd
from datetime import datetime

Attack 1. Attack on FIT401: Spoof value from 0.8 to 0.5
Intent: To stop de-chlorination by switching off UV401
Start time: 3:08:46 PM
End time: 3:10:31 PM

In [86]:
attack_data=pd.read_excel("C:\scada-docker\Data and Data preparation\Attack Data 2019\SWaT_dataset_Jul 19 v2.xlsx")
attack_data.tail()

,GMT +0,FIT 101,LIT 101,MV 101,P1_STATE,P101 Status,P102 Status,AIT 201,AIT 202,AIT 203,...,LSH 601,LSH 602,LSH 603,LSL 601,LSL 602,LSL 603,P6 STATE,P601 Status,P602 Status,P603 Status
14991,2019-07-20T08:39:55.001007Z,4.200429,491.169769,2,2,2,1,131.408615,9.319918,257.703156,...,Active,Active,Inactive,Inactive,Inactive,Active,2,1,1,1
14992,2019-07-20T08:39:56.0050048Z,4.253915,491.405273,2,2,2,1,131.408615,9.317354,257.703156,...,Active,Active,Inactive,Inactive,Inactive,Active,2,1,1,1
14993,2019-07-20T08:39:57.0050048Z,4.303558,492.308100,2,2,2,1,131.408615,9.317354,257.703156,...,Active,Active,Inactive,Inactive,Inactive,Active,2,1,1,1
14994,2019-07-20T08:39:58.0050048Z,4.323736,492.465100,2,2,2,1,131.408615,9.316713,257.703156,...,Active,Active,Inactive,Inactive,Inactive,Active,2,1,1,1
14995,2019-07-20T08:39:59.004013Z,4.323736,492.896881,2,2,2,1,131.408615,9.313829,257.933868,...,Active,Active,Inactive,Inactive,Inactive,Active,2,1,1,1

In [27]:
attack_data.dtypes

GMT +0          object
FIT 101        float64
LIT 101        float64
MV 101           int64
P1_STATE         int64
                ...
LSL 603         object
P6 STATE         int64
P601 Status      int64
P602 Status      int64
P603 Status      int64
Length: 78, dtype: object

In [87]:

# Convert ISO 8601 timestamps to datetime, ignore invalid formats
attack_data['GMT +0'] = pd.to_datetime(
    attack_data['GMT +0'],
    errors='coerce',           # ignore invalid timestamps
    infer_datetime_format=True
)

# Convert from UTC (Z) to GMT+8
attack_data['GMT +8'] = attack_data['GMT +0'].dt.tz_convert('Etc/GMT-8')  # tz-aware

# Optional: 12-hour format with AM/PM
attack_data['GMT_12hr'] = attack_data['GMT +8'].dt.strftime('%Y-%m-%d %I:%M:%S %p')

# Check results
attack_data.head()

C:\Users\User\AppData\Local\Temp\ipykernel_12592\2640485650.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  attack_data['GMT +0'] = pd.to_datetime(

,GMT +0,FIT 101,LIT 101,MV 101,P1_STATE,P101 Status,P102 Status,AIT 201,AIT 202,AIT 203,...,LSH 603,LSL 601,LSL 602,LSL 603,P6 STATE,P601 Status,P602 Status,P603 Status,GMT +8,GMT_12hr
0,2019-07-20 04:30:00+00:00,0.0,729.8658,1,3,2,1,142.527557,9.293002,198.077423,...,Inactive,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:00+08:00,2019-07-20 12:30:00 PM
1,2019-07-20 04:30:01+00:00,0.0,729.4340,1,3,2,1,142.527557,9.293002,198.385025,...,Inactive,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:01+08:00,2019-07-20 12:30:01 PM
2,NaT,0.0,729.1200,1,3,2,1,142.527557,9.293002,198.436300,...,Inactive,Inactive,Inactive,Active,2,1,1,1,NaT,NaN
3,NaT,0.0,728.6882,1,3,2,1,142.527557,9.289157,198.667000,...,Inactive,Inactive,Inactive,Active,2,1,1,1,NaT,NaN
4,2019-07-20 04:30:04+00:00,0.0,727.7069,1,3,2,1,142.527557,9.289157,198.897720,...,Inactive,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:04+08:00,2019-07-20 12:30:04 PM

In [104]:
import pandas as pd

# Your list
columns_list = ['GMT +0', 'FIT 101', 'LIT 101', 'MV 101', 'P1_STATE', 'P101 Status', 
                'P102 Status', 'AIT 201', 'AIT 202', 'AIT 203', 'FIT 201', 'LS 201', 
                'LS 202', 'LSL 203', 'LSLL 203', 'MV201', 'P2_STATE', 'P201 Status', 
                'P202 Status', 'P203 Status', 'P204 Status', 'P205 Status', 'P206 Status', 
                'P207 Status', 'P208 Status', 'AIT 301', 'AIT 302', 'AIT 303', 'DPIT 301', 
                'FIT 301', 'LIT 301', 'MV 301', 'MV 302', 'MV 303', 'MV 304', 'P3_STATE', 
                'P301 Status', 'P302 Status', 'AIT 401', 'AIT 402', 'FIT 401', 'LIT 401', 
                'LS 401', 'P4_STATE', 'P401 Status', 'P402 Status', 'P403 Status', 
                'P404 Status', 'UV401', 'AIT 501', 'AIT 502', 'AIT 503', 'AIT 504', 
                'FIT 501', 'FIT 502', 'FIT 503', 'FIT 504', 'MV 501', 'MV 502', 'MV 503', 
                'MV 504', 'P5_STATE', 'P501 Status', 'P502 Status', 'PIT 501', 'PIT 502', 
                'PIT 503', 'FIT 601', 'LSH 601', 'LSH 602', 'LSH 603', 'LSL 601', 'LSL 602', 
                'LSL 603', 'P6 STATE', 'P601 Status', 'P602 Status', 'P603 Status', 
                'GMT +8', 'GMT_12hr', 'GMT_12hr_dt', 'Attack']

# Convert list to DataFrame
df = pd.DataFrame(columns_list, columns=['Column Names'])

# Save to Excel
df.to_excel('SWAT Data Columns.xlsx', index=False)

In [88]:

attack_data = attack_data.dropna(subset=['GMT_12hr'])

# Convert 12-hour string back to datetime (no timezone)
attack_data['GMT_12hr_dt'] = pd.to_datetime(
    attack_data['GMT_12hr'])
attack_data = attack_data.dropna(subset=['GMT_12hr'])

# Check results
attack_data.head()

,GMT +0,FIT 101,LIT 101,MV 101,P1_STATE,P101 Status,P102 Status,AIT 201,AIT 202,AIT 203,...,LSL 601,LSL 602,LSL 603,P6 STATE,P601 Status,P602 Status,P603 Status,GMT +8,GMT_12hr,GMT_12hr_dt
0,2019-07-20 04:30:00+00:00,0.0,729.865800,1,3,2,1,142.527557,9.293002,198.077423,...,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:00+08:00,2019-07-20 12:30:00 PM,2019-07-20 12:30:00
1,2019-07-20 04:30:01+00:00,0.0,729.434000,1,3,2,1,142.527557,9.293002,198.385025,...,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:01+08:00,2019-07-20 12:30:01 PM,2019-07-20 12:30:01
4,2019-07-20 04:30:04+00:00,0.0,727.706900,1,3,2,1,142.527557,9.289157,198.897720,...,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:04+08:00,2019-07-20 12:30:04 PM,2019-07-20 12:30:04
5,2019-07-20 04:30:05+00:00,0.0,727.157349,1,3,2,1,142.527557,9.289157,199.154068,...,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:05+08:00,2019-07-20 12:30:05 PM,2019-07-20 12:30:05
10,2019-07-20 04:30:10+00:00,0.0,724.880700,1,3,2,1,142.527557,9.289157,199.871826,...,Inactive,Inactive,Active,2,1,1,1,2019-07-20 12:30:10+08:00,2019-07-20 12:30:10 PM,2019-07-20 12:30:10

In [93]:
attack_data['GMT_12hr_dt'].min(),attack_data['GMT_12hr_dt'].max()

(Timestamp('2019-07-20 12:30:00'), Timestamp('2019-07-20 16:28:23'))

In [95]:
attack_windows = [
    ('2019-07-20 03:08:46 PM', '2019-07-20 03:10:31 PM'),  # Attack on FIT401
    ('2019-07-20 03:15:00 PM', '2019-07-20 03:19:32 PM'),  # Attack on LIT301
    ('2019-07-20 03:26:57 PM', '2019-07-20 03:30:48 PM'),  # Attack on P601
    ('2019-07-20 03:38:50 PM', '2019-07-20 03:46:20 PM'),  # Multi-point Attack
    ('2019-07-20 03:54:00 PM', '2019-07-20 03:56:00 PM'),  # Attack on MV501
    ('2019-07-20 04:02:56 PM', '2019-07-20 04:16:18 PM')   # Attack on P301
]

In [96]:


# Flag attacks
attack_data['Attack'] = 0
for start, end in attack_windows:
    attack_data.loc[(attack_data['GMT_12hr_dt'] >= start) & 
                    (attack_data['GMT_12hr_dt'] <= end), 'Attack'] = 1

In [97]:
num_attacks = attack_data['Attack'].sum()
print(f"Number of attack rows: {num_attacks}")

Number of attack rows: 84

In [ ]:
labelled_attack_data = attack_data.drop(columns=['GMT +8', 'GMT_12hr', 'GMT_12hr_dt'])
labelled_attack_data.head()
labelled_attack_data.to_excel('SWaT_Attack_Data_Labeled.xlsx', index=False)

In [112]:
labelled_attack_data=labelled_attack_data.rename(columns={'GMT +0':'t_stamp'})
labelled_attack_data.head()

,t_stamp,FIT 101,LIT 101,MV 101,P1_STATE,P101 Status,P102 Status,AIT 201,AIT 202,AIT 203,...,LSH 602,LSH 603,LSL 601,LSL 602,LSL 603,P6 STATE,P601 Status,P602 Status,P603 Status,Attack
0,2019-07-20 04:30:00,0.0,729.865800,1,3,2,1,142.527557,9.293002,198.077423,...,Active,Inactive,Inactive,Inactive,Active,2,1,1,1,0
1,2019-07-20 04:30:01,0.0,729.434000,1,3,2,1,142.527557,9.293002,198.385025,...,Active,Inactive,Inactive,Inactive,Active,2,1,1,1,0
4,2019-07-20 04:30:04,0.0,727.706900,1,3,2,1,142.527557,9.289157,198.897720,...,Active,Inactive,Inactive,Inactive,Active,2,1,1,1,0
5,2019-07-20 04:30:05,0.0,727.157349,1,3,2,1,142.527557,9.289157,199.154068,...,Active,Inactive,Inactive,Inactive,Active,2,1,1,1,0
10,2019-07-20 04:30:10,0.0,724.880700,1,3,2,1,142.527557,9.289157,199.871826,...,Active,Inactive,Inactive,Inactive,Active,2,1,1,1,0

In [113]:
# Convert all timezone-aware datetime columns to timezone-naive
for col in labelled_attack_data.select_dtypes(include=['datetimetz']).columns:
    labelled_attack_data[col] = labelled_attack_data[col].dt.tz_localize(None)

# Save to Excel
labelled_attack_data.to_excel('SWaT_Attack_Data_Labeled.xlsx', index=False)

In [119]:
labelled_attack_data.columns

Index(['t_stamp', 'FIT 101', 'LIT 101', 'MV 101', 'P1_STATE', 'P101 Status',
       'P102 Status', 'AIT 201', 'AIT 202', 'AIT 203', 'FIT 201', 'LS 201',
       'LS 202', 'LSL 203', 'LSLL 203', 'MV201', 'P2_STATE', 'P201 Status',
       'P202 Status', 'P203 Status', 'P204 Status', 'P205 Status',
       'P206 Status', 'P207 Status', 'P208 Status', 'AIT 301', 'AIT 302',
       'AIT 303', 'DPIT 301', 'FIT 301', 'LIT 301', 'MV 301', 'MV 302',
       'MV 303', 'MV 304', 'P3_STATE', 'P301 Status', 'P302 Status', 'AIT 401',
       'AIT 402', 'FIT 401', 'LIT 401', 'LS 401', 'P4_STATE', 'P401 Status',
       'P402 Status', 'P403 Status', 'P404 Status', 'UV401', 'AIT 501',
       'AIT 502', 'AIT 503', 'AIT 504', 'FIT 501', 'FIT 502', 'FIT 503',
       'FIT 504', 'MV 501', 'MV 502', 'MV 503', 'MV 504', 'P5_STATE',
       'P501 Status', 'P502 Status', 'PIT 501', 'PIT 502', 'PIT 503',
       'FIT 601', 'LSH 601', 'LSH 602', 'LSH 603', 'LSL 601', 'LSL 602',
       'LSL 603', 'P6 STATE', 'P601 Status', 'P602 Status', 'P603 Status',
       'Attack'],
      dtype='object')

Normal Data

In [127]:
normal_data=pd.read_excel(r"C:\scada-docker\Data and Data preparation\Normal  Data 2023\22June2020 (1).xlsx")
normal_data.columns

Index(['t_stamp', 'P1_STATE', 'LIT101.Pv', 'FIT101.Pv', 'MV101.Status',
       'P101.Status', 'P102.Status', 'P2_STATE', 'FIT201.Pv', 'AIT201.Pv',
       'AIT202.Pv', 'AIT203.Pv', 'MV201.Status', 'P201.Status', 'P202.Status',
       'P203.Status', 'P204.Status', 'P205.Status', 'P206.Status',
       'P207.Status', 'P208.Status', 'LS201.Alarm', 'LS202.Alarm',
       'LSL203.Alarm', 'LSLL203.Alarm', 'P3_STATE', 'AIT301.Pv', 'AIT302.Pv',
       'AIT303.Pv', 'LIT301.Pv', 'FIT301.Pv', 'DPIT301.Pv', 'MV301.Status',
       'MV302.Status', 'MV303.Status', 'MV304.Status', 'P301.Status',
       'P302.Status', 'PSH301.Alarm', 'DPSH301.Alarm', 'P4_STATE', 'LIT401.Pv',
       'FIT401.Pv', 'AIT401.Pv', 'AIT402.Pv', 'P401.Status', 'P402.Status',
       'P403.Status', 'P404.Status', 'UV401.Status', 'LS401.Alarm', 'P5_STATE',
       'FIT501.Pv', 'FIT502.Pv', 'FIT503.Pv', 'FIT504.Pv', 'AIT501.Pv',
       'AIT502.Pv', 'AIT503.Pv', 'AIT504.Pv', 'PIT501.Pv', 'PIT502.Pv',
       'PIT503.Pv', 'P501.Status', 'P502.Status', 'MV501.Status',
       'MV502.Status', 'MV503.Status', 'MV504.Status', 'PSH501.Alarm',
       'PSL501.Alarm', 'P6_STATE', 'FIT601.Pv', 'P601.Status', 'P602.Status',
       'P603.Status', 'LSH601.Alarm', 'LSL601.Alarm', 'LSH602.Alarm',
       'LSL602.Alarm', 'LSH603.Alarm', 'LSL603.Alarm'],
      dtype='object')

In [128]:

rename_map = {
    "FIT101.Pv": "FIT 101",
    "LIT101.Pv": "LIT 101",
    "MV101.Status": "MV 101",
    "P1_STATE": "P1_STATE",
    "P101.Status": "P101 Status",
    "P102.Status": "P102 Status",

    "AIT201.Pv": "AIT 201",
    "AIT202.Pv": "AIT 202",
    "AIT203.Pv": "AIT 203",
    "FIT201.Pv": "FIT 201",
    "LS201.Alarm": "LS 201",
    "LS202.Alarm": "LS 202",
    "LSL203.Alarm": "LSL 203",
    "LSLL203.Alarm": "LSLL 203",
    "MV201.Status": "MV201",
    "P2_STATE": "P2_STATE",
    "P201.Status": "P201 Status",
    "P202.Status": "P202 Status",
    "P203.Status": "P203 Status",
    "P204.Status": "P204 Status",
    "P205.Status": "P205 Status",
    "P206.Status": "P206 Status",
    "P207.Status": "P207 Status",
    "P208.Status": "P208 Status",

    "AIT301.Pv": "AIT 301",
    "AIT302.Pv": "AIT 302",
    "AIT303.Pv": "AIT 303",
    "DPIT301.Pv": "DPIT 301",
    "FIT301.Pv": "FIT 301",
    "LIT301.Pv": "LIT 301",
    "MV301.Status": "MV 301",
    "MV302.Status": "MV 302",
    "MV303.Status": "MV 303",
    "MV304.Status": "MV 304",
    "P3_STATE": "P3_STATE",
    "P301.Status": "P301 Status",
    "P302.Status": "P302 Status",

    "AIT401.Pv": "AIT 401",
    "AIT402.Pv": "AIT 402",
    "FIT401.Pv": "FIT 401",
    "LIT401.Pv": "LIT 401",
    "LS401.Alarm": "LS 401",
    "P4_STATE": "P4_STATE",
    "P401.Status": "P401 Status",
    "P402.Status": "P402 Status",
    "P403.Status": "P403 Status",
    "P404.Status": "P404 Status",
    "UV401.Status": "UV401",

    "AIT501.Pv": "AIT 501",
    "AIT502.Pv": "AIT 502",
    "AIT503.Pv": "AIT 503",
    "AIT504.Pv": "AIT 504",
    "FIT501.Pv": "FIT 501",
    "FIT502.Pv": "FIT 502",
    "FIT503.Pv": "FIT 503",
    "FIT504.Pv": "FIT 504",
    "MV501.Status": "MV 501",
    "MV502.Status": "MV 502",
    "MV503.Status": "MV 503",
    "MV504.Status": "MV 504",
    "P5_STATE": "P5_STATE",
    "P501.Status": "P501 Status",
    "P502.Status": "P502 Status",
    "PIT501.Pv": "PIT 501",
    "PIT502.Pv": "PIT 502",
    "PIT503.Pv": "PIT 503",

    "FIT601.Pv": "FIT 601",
    "LSH601.Alarm": "LSH 601",
    "LSL601.Alarm": "LSL 601",
    "LSH602.Alarm": "LSH 602",
    "LSL602.Alarm": "LSL 602",
    "LSH603.Alarm": "LSH 603",
    "LSL603.Alarm": "LSL 603",
    "P6_STATE": "P6 STATE",
    "P601.Status": "P601 Status",
    "P602.Status": "P602 Status",
    "P603.Status": "P603 Status",
}


cols_before = set(normal_data.columns)
normal_data = normal_data.rename(columns=rename_map)
cols_after = set(normal_data.columns)


unmapped = cols_before - set(rename_map.keys()) - {"t_stamp", "Attack"}

if unmapped:
    print("\n Columns NOT renamed (not in mapping):")
    for col in sorted(unmapped):
        print("  -", col)

 Columns NOT renamed (not in mapping):
  - DPSH301.Alarm
  - PSH301.Alarm
  - PSH501.Alarm
  - PSL501.Alarm

In [129]:
normal_data.to_excel('SWaT_Normal_Data_Labeled.xlsx', index=False)